.parallax {
	/* The image used */
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.1),
		rgba(0, 0, 0, 0)
		),url('images/banner.png');


	/* Set a specific height */
	min-height: 118px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 600px) {
  .parallax {
    /* The image used */
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
      ),url('images/banner.png');
  
  
    /* Set a specific height */
    min-height: 380px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
  }
}